*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left{
    background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-9.jpg);
    background-size: cover;
    background-position: left;
    width: 70%;
    height: 100vh;
    display: inline-block;
    .logo{
        padding: 42px 51px;
    }
    .text{
        padding: 42px 51px;
    }
}
.right{
    width: 100%;
    .top{
        padding: 42px 51px;
        a{
            margin-left: 25px;
            text-decoration: none;
            color: white;
            background-color: #ff497c;
            padding: 12px 20px;
            border-radius: 6px;
            font-size: 17px;
            font-weight: 600;
        } 
        p{
            margin-top: 10px;
        }
    }
}
.r-mid{
    width: 70%;
    margin-left: 100px;
    .rm-text{
     margin-bottom: 15px;
    }
    .rm-imp{
     input{
        padding: 7px 8px;
        margin-bottom: 20px;
     }
    }
    .rm-btn{
        margin-top: 10px;
        button{
            border: none;
            color: white;
            background-color: #3478F0;
            padding: 10px 15px;
            border-radius: 6px;
        }
         a{
            text-decoration: none;
            padding: 10px 15px;
            margin-right: 210px;
         }
    }
}
@media (max-width:576px) {
    .left{
        display: none;
    }
    .right{
        width: 100%;
        .top{
            padding: 42px 40px;
            
            a{
                margin-left: 25px;
                text-decoration: none;
                color: white;
                background-color: #ff497c;
                padding: 12px 20px;
                border-radius: 6px;
                font-size: 17px;
                font-weight: 600;
            } 
            p{
                margin-top: 10px;
            }
        }
    }
    .r-mid{
        width: 100%;
        margin-left: 0px;
        .rm-text{
         margin-bottom: 15px;
        }
        .rm-imp{
         input{
            padding: 7px 8px;
            margin-bottom: 20px;
         }
        }
        .rm-btn{
            margin-top: 10px;
            button{
                border: none;
                color: white;
                background-color: #3478F0;
                padding: 10px 15px;
                border-radius: 6px;
            }
             a{
                text-decoration: none;
                padding: 10px 15px;
                margin-right: 120px;
             }
        }
    }
}